#wrapper {
  background-color:#ACC;
}
#wrapper-history {
  overflow-y:scroll;
  height : 150px;
  margin: 3px
}
.item {
  margin-left:10px;
  margin-top:4px;
}
.subitem {
  margin-left:19px;
}

.indicator{
    width:120px;
    height:20px;
}